.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-image: url('../../assets/Login/Background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.Login {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.login-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.login-box {
  display: flex;
  width: 600px;
  height: auto;
  padding: 44px 30px 30px 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  border-radius: 4px;
  background-color: #ffffff;
  justify-content: center;
}

.logos {
  display: flex;
  align-items: center;
  gap: 12px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  width: 100%;
}

.login-box h2 {
  font-family: 'Open Sans';
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.user-form-input {
  display: flex;
  height: 34px;
  padding: 24px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid #e2e2e2;
  background: #efeff1;
  font-family: 'Open Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding-right: 36px;
  color: black;
}

.user-form-label {
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.password-label {
  position: relative;
  width: 100%;
}

.icon-toggle {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
}

.password-icon {
  display: flex;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  position: absolute;
  right: 5%;
  align-items: center;
  color: black;
}

.password-icon svg {
  height: 20px;
  width: 20px;
}

.login-button {
  display: flex;
  height: 48px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  border: none;
  background-color: #116ee9;
  cursor: pointer;
  color: white;
  margin-top: 32px;
  font-size: 18px;
}

.login-button:hover {
  background-color: #4990ee;
}

.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.forgot-password {
  font-family: 'Open Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #116ee9;
  text-decoration: none;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.checkbox input[type='checkbox'] {
  width: 18px;
  height: 18px;
  appearance: none;
  border: 2px solid #116ee9;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}

.checkbox input[type='checkbox']:checked {
  background-color: #8abdff;
}

.checkbox input[type='checkbox']:checked::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 6px;
  width: 4px;
  height: 10px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.logo-img {
  width: 150px;
  height: auto;
  object-fit: contain;
}

.logoDivision {
  border-left: 3px solid #e2e2e2;
  padding-left: 12px;
  margin-left: 12px;
}

.logoSESI {
  width: 80px;
  height: auto;
  object-fit: contain;
}

@media (max-width: 768px) {
  .login-box {
    width: 300px;
    padding: 24px;
    gap: 28px;
  }

  .logoSESI {
    width: 40px;
  }

  .logo-img {
    width: 70px;
  }

  .login-box h2 {
    font-size: 28px;
  }

  .user-form-label {
    font-size: 14px;
  }

  .user-form-input {
    height: 26px;
    font-size: 12px;
    padding: 20px;
  }

  .checkbox {
    font-size: 12px;
  }

  .forgot-password {
    font-size: 14px;
  }

  .login-options {
    flex-direction: column;
    gap: 20px;
  }

  .checkbox input[type='checkbox'] {
    width: 15px;
    height: 15px;
  }

  .checkbox input[type='checkbox']:checked::before {
    width: 2px;
    height: 8px;
    left: 4px;
    top: 1px;
  }

  .login-button {
    margin-top: 10px;
    height: 100%;
    width: 100%;
    align-self: stretch;
  }
}
