.footer {
  background-color: #7d0401;
}

.footer-content {
  display: flex;
  padding: 16px 240px;
  align-items: flex-start;
  gap: 16px;
}

.footer-content p {
  font-family: 'Open Sans';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: white;
}
