.footer {
  background-color: #f9f9f9;
  height: 75px;
}

.footer-content {
  display: flex;
  padding: 0 20%;
  align-items: center;
  gap: 16px;
  height: 100%;
}

.footer-content img {
  width: 70px;
}

.footer-content p {
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #a7a7a7;
}

@media screen and (max-width: 730px) {
  .footer {
    height: 50px;
  }

  .footer-content {
    padding: 0 10%;
  }

  .footer-content p {
    font-size: 10px;
  }

  .footer-content img {
    width: 30px;
  }
}
